* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --background-color: rgb(242, 242, 242);
  font-family: "Poppins", sans-serif;
}

#app {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1440px;
  background-color: var(--background-color);
}
header {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0 1rem;
  padding: 1rem 0;
}

footer {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem 0;
}

@media all and (min-width: 700px) {
  footer {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
