.filter_container {
  height: 90vh;
  background-color: white;
  border-radius: 0.5rem;
  margin: 2rem 1rem;
  padding: 1rem;
}

@media all and (min-width: 700px) {
  .filter_container {
    flex: 1;
    height: auto;
  }
}
