.result_container {
  display: grid;
  grid-template-columns: 1fr;
}

@media all and (min-width: 700px) {
  .result_container {
    flex: 2;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 1024px) {
  .result_container {
    flex: 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
